<!-- 
<div class="row justify-content-center" style="margin-top: 100px;">
  <div class="col-xl-7 col-lg-9 text-center" style="font-family: Century Gothic">
    <h1>Log In</h1>
  </div>
</div> -->


<!-- <app-header *ngIf="isLoggedIn()"></app-header> -->

<mat-toolbar class="mat-elevation-z4" color="primary" *ngIf="isLoggedIn()">
  <a href="/" class="title">AzureTeach.Net</a>
  <div class="toolbar-spacer"></div>
  <span style="padding:10px;">Welcome {{Username}}!</span>
  <a mat-button [routerLink]="['profile']">Profile</a>
  <a mat-button [routerLink]="['reports']">Reports</a>
  <button mat-raised-button *ngIf="!isLoggedIn()" (click)="loginRedirect()">Login</button>
  <button mat-raised-button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
</mat-toolbar>
<div style="margin:5px;"></div>
<router-outlet></router-outlet>
<!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
<router-outlet *ngIf="!isIframe"></router-outlet>

<!-- <app-footer *ngIf="isLoggedIn()"></app-footer> -->

<!-- <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> -->